.cr7 {
    border: 5px solid black;
    width: 6px;
    height: 6px;
    margin: 15px;
    padding: 30px;
    margin: 0 auto;
}

.e {
    border: 5px solid green;
    width: 5px;
    height: 5px;
    margin: 15px;
    padding: 30px;
    margin: 0 auto;
}

.o {
    border: 5px solid blue;
    width: 7px;
    height: 7px;
    margin: 15px;
    padding: 30px;
}

.melhor {
    border: 5px solid yellow;
    width: 50px;
    height: 8px;
    margin: 15px;
    padding: 30px;
}